#district_site_header
  .container
    .row
      .col-xs-5
        #main_logo{style:'width: 352px; height: 83px; border: solid purple 1px;'}
      .col-xs-6
        .col-xs-4
          .header-grey-box.pull-left
            %h4 HOME <br /> OWNERS
        .col-xs-4
          .header-grey-box.pull-left
            %h4 COMMERCIAL <br /> OWNERS
        .col-xs-4
          .header-grey-box.pull-left
            %h4{style: 'position: relative; top: 7px;'} CONTRACTORS
    = image_tag 'district-bar.png'