#district_site_contractors
  .container
    #footer_container
      .container
        .col-xs-4.footer_blue_left_section
          %h2.white-font CONTACT US!
        .col-xs-8.footer_grey_right_section
          .row
            .col-xs-9
              Provide your information to receive our newsletter and get updates on program launch timelines and upcoming events.
            .col-xs-3
              %button.btn.btn-info.btn-lg
                Contact Us
    .district_page
      .row
        .col-xs-12
          %h1 About Clean Energy Sacramento
          %p Sanctioned by the City of Sacramento and administered by Ygrene Energy Fund, this simple property-improvement financing solution enables building owners to make energy-saving upgrades and integrate clean energy sources to offset energy related operating costs.
          = image_tag 'about-district.png'
      .row.text-center
        .col-xs-4
          %p Capital for improvements is repaid through property taxes at modest interest rates, making for a powerful mechanism that takes the risk out of investing in clean energy without drawing on public fund
        .col-xs-4
          %p It’s easy to participate for contractors and building owners alike, and the program’s web tools lay out the process so all stakeholders know where they stand
        .col-xs-4
          %p Sacramento is becoming a hub of clean technology and economic growth. Clean Energy Sacramento is the model for other cities around the nation.
      %hr
      .row
        .col-xs-5
          = image_tag 'sac-bridge.jpg'
        .col-xs-7
          %h2 What People Are Saying
          %br
          .boreder-box{style: 'border-left: solid #cfcfcf 6px;'}
            %p Clean Energy Sacramento is a game changer for Sacramento. It is an example that good environmental policy is good economic policy, creating jobs at every rung, reducing emissions from the built environment and helping our business community to flourish in the new economy.
            %br
            – Sacramento Mayor: Kevin Johnson
