#home_page_container
  .container
    .district_page
      .row.top-header
        .col-xs-9
          %h3 FOR COMMERCIAL & RESIDENTIAL OWNERS
          %h1 SAVE ENERGY. SAVE MONEY. SIMPLE.
        .col-xs-3
          %button.btn.btn-primary
            How It Works Video
      %hr
      %p
        <strong>Clean Energy Sacramento</strong>, managed and funded by Ygrene, provides 100% financing to commercial and residential property owners for energy efficiency, renewable energy, and water conservation improvements. Financing is repayable over the long term through your property tax bill.
      .home_page_grey_box
        %p Enter your address to see if you qualify!
        %form.form-inline
          .form-group
            %label Address
            %input.form-control{placeholder: 'Address'}
          .form-group
            %label City
            %input.form-control{placeholder: 'Address'}
          .form-group
            %label Zipcode
            %input.form-control{placeholder: 'Zip', style: 'width: 100px;'}
          .form-group
            %label Email
            %input.form-control{placeholder: 'Address'}
            %button.btn.btn-success
              Search
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
      / Wrapper for slides
      .carousel-inner
        .item.active
          .slider-background#sac-home-slide
            .slide-content
              %h2.white_header
                "CLEAN ENERGY <br /> SACRAMENTO IS A <br /> WIN FOR THE CITY <br /> IN EVERY WAY"
              %p
                Kevin Johnson, Sacramento Mayor
            .slide-content-footer
              .row
                .col-xs-12
                  %p 
                    News →
                    %button.btn.btn-primary
                      Read More

        .item
          .slider-background#residential-slide
            .slide-content
              %h2.white_header
                "WE MAKE IT EASY TO OBTAIN FINANCING TO IMPROVE THE PERFORMANCE OF YOUR HOME, SAVE ENERGY AND LIVE IN A HEALTHIER ENVIRONMENT"
            .slide-content-footer
              .row
                .col-xs-12
                  %p 
                    Residential Owners →
                    %button.btn.btn-primary
                      Read More

        .item
          .slider-background#commerical-slide
            .slide-content
              %h2
                BOOST THE VALUE OF YOUR COMMERCIAL PROPERTY AND INCREASE ITS RETURN THROUGH IMPROVED ENERGY PERFORMANCE
            .slide-content-footer
              .row
                .col-xs-12
                  %p
                    Commerical Owners →
                    %button.btn.btn-primary
                      Learn More
        .item
          .slider-background#contractor-slide
            .slide-content
              %h2
                "DESPITE THE ECONOMY, MY BUSINESS HAS MORE THAN DOUBLED SINCE CLEAN ENERGY FINANCING BECAME AVAILABLE."
              %p
                ‐ Dave Willson, Commercial and Residential Energy Analysis
            .slide-content-footer
              .row
                .col-xs-12
                  %p
                    Contractors Owners →
                    %button.btn.btn-primary
                      Learn More
  .container
    .district_page
      .row 
        .col-xs-4
          .home_page_grey_box.text-center
            %h3
              %strong BECOME A YGRENE REFERRAL AGENT
            %br
            %p
              Sign up and start referring now to maximize your earnings.
            %button.btn.btn-primary
              Register Now
        .col-xs-4
          .home_page_grey_box.text-center
            %h3
              %strong HOW IT WORKS VIDEO
            %br
            %br
            %p
              Watch our short video to see how Ygrene financing works.
            %button.btn.btn-primary
              Play Video
        .col-xs-4
          .home_page_grey_box.text-center
            %h3
              %strong BECOME A YGRENE CERTIFIED CONTRACTOR
            %br
            %p
              Register today and start growing your business.
            %button.btn.btn-primary
              Register Now